/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;


}
:root {
    --bg-color:#181818;
    --second-bg-colour: #181818;
    --text-color: white;
    --main-colour:#d8d8d8;
    --hover-color: #FB78FA;


}

html{
    font-size: 60%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);

}
header{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: var(--bg-color);
    backdrop-filter: blur(10px);
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;

}
.logo{
    font-size: 3rem;
    color: var(--hover-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: "Yanone Kaffeesatz", sans-serif;



}

.logo:hover{
    transform: scale(1.1);
    color: var(--main-color); 
    

}

.navbar a{
    font-size:2.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}

.custom-font {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

}

.navbar a {
    color: var(--main-colour); 
    text-decoration: none;
}

.navbar a:hover {
    color: var(--hover-color); 
    border-bottom: 3px solid var(--active-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;

}


